// Fonts
@import url(https://fonts.googleapis.com/css?family=Lato);
$font-stack: 'Lato', Helvetica, sans-serif;
$font-xl: 1.5em;
$font-lg: 1.25em;
$font-md: .875em;
$font-sm: .75em;

// Colours
$background-colour: #eee;

$button-background-colour: #f8f8f8;
$button-border-colour: #888;
$button-save-background-colour: #cf9;
$button-cancel-background-colour: #f66;

$font-white: #fff;

$nav-link-highlight-background: #e8e8e8;
$nav-link-highlight-color: #26e;

// Screens
$tablet: 769px;
$desktop: 1025px;
$desktop-hd: 1441px;
